.inner-box__intro {
  font-size: 5.4rem;
  margin: 0;
  max-width: 60%;
  text-transform: uppercase;
}

.inner-box__intro--about {
  padding: 8rem 0 0 0;
}

.inner-box__secret {
  bottom: $xl-size;
  font-style: italic;
  position: absolute;
}
