.container {
  background: $off-black;
  box-sizing: border-box;
  color: $main-color;
  height: 100%;
  padding: 8rem;
}

.container--inverted {
  background: $main-color;
  color: $off-black;
  padding: 8rem 20rem;
}

@media (max-width: $tablet) {
  .container {
    padding: $l-size;
  }
}
