.outer-box {
  background: $main-color;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  padding: $xl-size;
  position: relative;
}

.outer-box--inverted {
  background: $off-black;
  height: auto;
}

@media (max-width: $tablet) {
  .outer-box {
    padding: $m-size;
  }
}
